<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org">
<style>
    body {
        background-image: url(/images/authors3.jpg);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;

    }
</style>
<head>
    <title>Author List</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
</head>
<body >

<div class="container">
    <h1>Authors</h1>
    <div class="col-md-4">
        <a href="/home" type="button" class="btn btn-light" style="color: dodgerblue; font-size: larger ;font-weight: bold">BookStore</a>
        <h3 th:inline="text">Welcome [[${#httpServletRequest.remoteUser}]]</h3>
    </div>
    <div class="col-md-4" style="padding:20px 0">
        <form sec:authorize = "isAuthenticated()" th:action="@{/logout}" method="post">
            <input type="submit" value="Log Out" class="btn btn-danger"/>
        </form>
    </div>
    <table class="table table-striped">
        <tr>
            <th>AuthorID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Books</th>
            <th colspan="2"></th>
        </tr>
        <span th:each = "author : ${authors}">
            <tr th:each = "book : ${author.books}">
                <td th:text="${author.id}"></td>
                <td th:text="${author.firstName}"> </td>
                 <td th:text="${author.lastName}"> </td>
                <td th:text="${book.bookInfo?.bookTitle}"> </td>
                <td sec:authorize="hasRole('ADMIN')"><a th:href="@{|/author/delete/${author.id}|}" class="btn btn-danger">Delete</a></td>
                <td sec:authorize="hasRole('ADMIN')"><a th:href="@{|/author/edit/${author.id}|}" class="btn btn-info">Edit</a></td>

            </tr>

        </span>

    </table>
    <div sec:authorize="hasRole('ADMIN')">
        <a th:href="@{/author/authorList/add}" type="button" class="btn btn-success"> Add Author</a>
    </div>

    <div class="row" th:fragment="pagination">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <nav aria-label="Pagination">
                <ul class="pagination justify-content-center">
                    <li class="page-item" th:each="pageNumber : ${pageNumbers}" >
                        <a class="page-link" th:href="@{|/author/authorList/page/${pageNumber}|}" th:text="${pageNumber}"></a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="col-md-2"></div>
    </div>



</div>
</body>
</html>